<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">Sales report</h1>
<h3 align="left">Number of total purchases per package</h3>
<table>
    <tr>
        <th>Package Name</th>
        <th>Total Purchases</th>
    </tr>
<tr th:each="rs :${tot_ppp}":>
    <td th:text="${rs.package_name}"></td>
    <td th:text="${rs.total_purchases}"></td>
</tr>
</table>
</div>
<h3 align="left">Number of total purchases per package and validity period</h3>
<div>
    <table>
        <tr>
            <th>Package Name</th>
            <th>Validity Period</th>
            <th>Total Purchases</th>
        </tr>
        <tr th:each="rs :${tot_ppvp}":>
        <td th:text="${rs.package_name}"></td>
        <td th:text="${rs.vp_months}"></td>
        <td th:text="${rs.purchases}"></td>
    </tr></table>

</div>
<h3 align="left">Total value of sales per package with and without the optional products</h3>
<div>
    <table>
        <tr>
            <th>Package Name</th>
            <th>Total Sales value without Optional Products</th>
            <th>Total Sales value with Optional Products</th>
        </tr>
    <tr th:each="rs :${totSales}":>
        <td th:text="${rs.package_name}"></td>
        <td th:text="${rs.tot}"></td>
        <td th:text="${rs.tot_with_op}"></td>
    </tr></table>
</div>
<h3 align="left">Average number of optional products sold together with each service package.</h3>
<div>
    <table>
        <tr>
            <th>Package Name</th>
            <th>Average</th>
        </tr>
    <tr th:each="rs :${avgOPxP}":>
        <td th:text="${rs.package_name}"></td>
        <td th:text="${rs.avg_num_op}"></td>
    </tr></table>
</div>
<h3 align="left">Insolvent Users</h3>
<div>
    <table>
        <tr>
            <th>Username</th>

        </tr>
    <tr th:each="rs :${insolventUsers}":>
        <td th:text="${rs.username}"></td>
    </tr></table>

</div>
<h3 align="left">Suspended orders</h3>
<div>
    <table>
        <tr>
            <th>Timestamp</th>
            <th>Username</th>

        </tr>
    <tr th:each="rs :${suspendedOrders}":>
        <td th:text="${rs.timestamp}"></td>
        <td th:text="${rs.username}"></td>
    </tr></table>
</div>
<h3 align="left">Best seller optional product</h3>
<div>
    <p th:text="${bestsellerName}"
</div>

</body>
</html>