<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Buy Service
    </title>
</head>
<body>
    <h1 align="center">In this page you will buy the things that we sell</h1>
    <h4 align="right" th:text="${username}"></h4>
    <div align="center">

        <form th:if=${packUP} action="ChoosePackage" method="POST">
            <select name="packageSelected" id="packageSelected">
                <option th:each="p : ${packages}"
                        th:value="${p.Id_package}" th:text="${p.name}">
                </option>
            </select>
            <input type="submit" value="Submit"/>
        </form>
    </div>

    <form th:if=${packSel} action="ChooseServicesBS" method="POST">
        <fieldset>
            <legend>STEP1: Choose the services to include into the package:</legend>

            <div th:each="s: ${services}">
                <input type="checkbox" th:name="'p-' + ${s.service_id}" th:value="${s.service_id}">
                <label th:text="'Service ' + ${s.service_id}"></label><br>
                <p>Service Description:</p>
                <p th:text="'Service type: ' + ${s.type}"></p>
                <p th:if="${s.type.name() == 'MOBILE_PHONE'}"
                   th:text="'Minutes: ' + ${s.minutes}"></p>
                <p th:if="${s.type.name() == 'MOBILE_PHONE'}"
                   th:text="'SMS: ' + ${s.sms}"></p>
                <p th:if="${s.type.name() == 'MOBILE_PHONE'}"
                   th:text="'Extra fee for SMS: ' + ${s.extraFeeSMS}"></p>
                <p th:if="${s.type.name() == 'MOBILE_PHONE'}"
                   th:text="'Extra fee for Minutes: ' + ${s.extraFeeMinutes}"></p>
                <p th:if="${s.type.name() == 'MOBILE_INTERNET' || s.type.name() == 'FIXED_INTERNET'}"
                   th:text="'Giga: ' + ${s.giga}"></p>
                <p th:if="${s.type.name() == 'MOBILE_INTERNET' || s.type.name() == 'FIXED_INTERNET'}"
                   th:text="'Extra fee for giga: ' + ${s.extraFeeGiga}"></p>
            </div>
            <input class="btn" type="submit">
        </fieldset>
    </form>

    <form th:if="${servSel}" action="ChooseVPBS" method="POST">
        <fieldset>
            <legend>STEP2: Choose the Validity Period available for this package:</legend>
            <div>
                <select name="validityPeriod" id="validityPeriod">
                    <option th:each="vp: ${vps}" th:value="${vp.ID_validity_period}" th:text="${vp.months}+' months '+${vp.fee}+' sossoldi/month'">
                    </option>
                </select>
            </div>
            <input type="submit" value="Submit"/>
        </fieldset>
    </form>
    <form th:if="${vpSel}" action="ChooseOPBS" method="POST">
        <fieldset>
            <legend>STEP3: Choose the Optional Products available for this package:</legend>

            <div th:each="op: ${optionalProducts}">
                <input type="checkbox" th:name="${op.name}" th:value="${op.name}">
                <label th:text=" 'Optional Product ' + ${op.name}"></label><br>
                <p>Optional Product Description:</p>
                <p th:text="'Fee: '+ ${op.fee}"></p>
            </div>
            <input class="btn" type="submit">
        </fieldset>
    </form>
    <form th:if="${opSel}" action="ChooseDateBS" method="POST">
        <label>
            Enter start date:
            <input type="date" name="startDate">
        </label>
        <p><button>Submit</button></p>
    </form>
    <section th:if="${recap}">
        <p th:text="'Package Name: ' + ${p.name}"></p>
        <p th:text="'Services:'"></p>
        <fieldset th:each="s : ${selectedServices}">
            <div>
                <p th:text="'Service type: ' + ${s.type}"></p>
                <p th:if="${s.type.name() == 'MOBILE_PHONE'}"
                   th:text="'Minutes: ' + ${s.minutes}"></p>
                <p th:if="${s.type.name() == 'MOBILE_PHONE'}"
                   th:text="'SMS: ' + ${s.sms}"></p>
                <p th:if="${s.type.name() == 'MOBILE_PHONE'}"
                   th:text="'Extra fee for SMS: ' + ${s.extraFeeSMS}"></p>
                <p th:if="${s.type.name() == 'MOBILE_PHONE'}"
                   th:text="'Extra fee for Minutes: ' + ${s.extraFeeMinutes}"></p>
                <p th:if="${s.type.name() == 'MOBILE_INTERNET' || s.type.name() == 'FIXED_INTERNET'}"
                   th:text="'Giga: ' + ${s.giga}"></p>
                <p th:if="${s.type.name() == 'MOBILE_INTERNET' || s.type.name() == 'FIXED_INTERNET'}"
                   th:text="'Extra fee for giga: ' + ${s.extraFeeGiga}"></p>
            </div>
        </fieldset>
        <p th:text="'Validity period:'"></p>
                <p th:text="${vp.months}+' months'"></p>
                <p th:text="${vp.fee}+' denari/month'"></p>
        <p th:text="'Optional products:'"></p>
        <fieldset th:each="op : ${selectedOP}">
            <div>
                <p th:text="'Name: '+ ${op.name}"></p>
                <p th:text="'Fee: '+ ${op.fee}"></p>
            </div>
        </fieldset>
        <p th:text="'Start Date:'"></p>
        <p th:text="${startDate}"></p>
    </section>
    <div>
        <form action="Home" method="GET" id=back>
            <button type="submit" form="back" value="home">Back</button>
        </form>
    </div>
</body>
</html>