<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1 align="center">Confirmation Page</h1>
    <h4 align="right" th:text="${username}"></h4>

    <section th:if="${loggedIn}">
      <p th:text="'Package Name: ' + ${p.name}"></p>
      <p th:text="'Services:'"></p>
      <fieldset th:each="s : ${selectedServices}">
        <div>
          <p th:text="'Service type: ' + ${s.type}"></p>
          <p th:if="${s.type.name() == 'MOBILE_PHONE'}"
             th:text="'Minutes: ' + ${s.minutes}"></p>
          <p th:if="${s.type.name() == 'MOBILE_PHONE'}"
             th:text="'SMS: ' + ${s.sms}"></p>
          <p th:if="${s.type.name() == 'MOBILE_PHONE'}"
             th:text="'Extra fee for SMS: ' + ${s.extraFeeSMS}"></p>
          <p th:if="${s.type.name() == 'MOBILE_PHONE'}"
             th:text="'Extra fee for Minutes: ' + ${s.extraFeeMinutes}"></p>
          <p th:if="${s.type.name() == 'MOBILE_INTERNET' || s.type.name() == 'FIXED_INTERNET'}"
             th:text="'Giga: ' + ${s.giga}"></p>
          <p th:if="${s.type.name() == 'MOBILE_INTERNET' || s.type.name() == 'FIXED_INTERNET'}"
             th:text="'Extra fee for giga: ' + ${s.extraFeeGiga}"></p>
        </div>
      </fieldset>
      <p th:text="'Validity period:'"></p>
      <p th:text="${vp.months}+' months'"></p>
      <p th:text="${vp.fee}+' euro/month'"></p>
      <p th:text="'Optional products:'"></p>
      <fieldset th:each="op : ${selectedOP}">
        <div>
          <p th:text="'Name: '+ ${op.name}"></p>
          <p th:text="'Fee: '+ ${op.fee}"></p>
        </div>
      </fieldset>
      <p th:text="'Start Date: ' + ${startDate}"></p>

      <div>
        <form action="#" th:action="@{/Confirmation(billing=1, existent=${existent})}" method="POST">
          <button name="buy" value="Buy">Buy</button>
        </form>
      </div>

      <div>
        <form action="#" th:action="@{/Confirmation(billing=0, existent=${existent})}" method="POST">
          <button name="fail" value="Fail">Fail</button>
        </form>
      </div>

    </section>


    <section th:if="${!loggedIn}">
      <p th:text="'To complete the order you have to log in'"></p>
      <form action="Login" method="GET" id="loginForm">
        <button type="submit" form="loginForm" value="Login">Login</button>
      </form>

      <form action="Registration" method="GET" id="registrationForm">
        <button type="submit" form="registrationForm" value="Register">Register</button>
      </form>
    </section>

</body>
</html>