<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
  <h1 align="center">Telco Application HomePage</h1>
  <h4 align="right" th:text="${username}"></h4>
  <section>
      <div th:if="${loggedIn!=0}">
      </div>
      <div th:unless="${loggedIn!=0}"> Entered as a Guest, remember to register!</div>
  </section>

  <section>
      <fieldset th:each="o: ${rejOrders}">
          <div>
              <p th:text="'OrderID ' + ${o.ID_order}"></p>
              <p th:text="'ordered:' + ${o.Timestamp}"></p>
              <form action="#" th:action="@{/Confirmation}" method="GET">
                  <button name="idOrder" th:value="${o.ID_order}">Buy order</button>
              </form>
          </div>


      </fieldset>

  </section>
  <br>
  <br>
  <section>
      <div>
          <form action="Purchase" method="GET" id="buyService">
          <button type="submit" form="buyService" value="Purchase">Purchase</button>
          </form>
      </div>

  </section>
  <section>
      <fieldset th:each="p : ${packages}">
          <div>
              <p th:text="'Package Name: ' + ${p.name}"></p>
              <p th:text="'Services:'"></p>
              <fieldset th:each="s : ${p.services}">
                  <div>
                      <p th:text="'Service type: ' + ${s.type}"></p>
                      <p th:if="${s.type.name() == 'MOBILE_PHONE'}"
                         th:text="'Minutes: ' + ${s.minutes}"></p>
                      <p th:if="${s.type.name() == 'MOBILE_PHONE'}"
                         th:text="'SMS: ' + ${s.sms}"></p>
                      <p th:if="${s.type.name() == 'MOBILE_PHONE'}"
                         th:text="'Extra fee for SMS: ' + ${s.extraFeeSMS}"></p>
                      <p th:if="${s.type.name() == 'MOBILE_PHONE'}"
                         th:text="'Extra fee for Minutes: ' + ${s.extraFeeMinutes}"></p>
                      <p th:if="${s.type.name() == 'MOBILE_INTERNET' || s.type.name() == 'FIXED_INTERNET'}"
                         th:text="'Giga: ' + ${s.giga}"></p>
                      <p th:if="${s.type.name() == 'MOBILE_INTERNET' || s.type.name() == 'FIXED_INTERNET'}"
                         th:text="'Extra fee for giga: ' + ${s.extraFeeGiga}"></p>
                  </div>
              </fieldset>
              <p th:text="'Validity periods:'"></p>
              <fieldset th:each="vp : ${p.validityPeriods}">
                  <div>
                      <p th:text="${vp.months}+' months'"></p>
                      <p th:text="${vp.fee}+' euro/month'"></p>
                  </div>
              </fieldset>
              <p th:text="'Optional products:'"></p>
              <fieldset th:each="op : ${p.optionalProducts}">
                  <div>
                      <p th:text="'Name: '+ ${op.name}"></p>
                      <p th:text="'Fee: '+ ${op.fee}"></p>
                  </div>
              </fieldset>

          </div>
      </fieldset>
  </section>



</body>
</html>